.bottomDiv {
  background-color: #102a43;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#graphqlImg {
  width: 190px;
  padding: 15px;
}

#reactImg {
  width: 240px;
  padding: 15px;
}

form {
  width: 700px;
  height: 155%;
  margin-top: -220px;
  background: rgba(16, 42, 67, 0.83);
  border-radius: 10px;
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2), 0 15px 35px hsla(0, 0%, 0%, 0.4);
  position: relative;
  padding-top: 20px;
}

input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding-left: 15px;
  background: #334e68;
  color: #e4e7eb;
  font-size: 20px;
  font-family: cooper hewitt;
  font-weight: 500;
  box-shadow: 0 2px 0 hsla(209.43, 34.19%, 37%, 0.65), inset 0px 2px 1.5px #333;
  -webkit-appearance: none;
}

textarea {
  width: 90%;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding-left: 15px;
  padding-top: 5px;
  background: #334e68;
  color: #e4e7eb;
  font-size: 20px;
  font-weight: 500;
  font-family: cooper hewitt;
  box-shadow: 0 2px 0 hsla(209.43, 34.19%, 37%, 0.65), inset 0px 2px 1.5px #333;
  -webkit-appearance: none;
}

::placeholder {
  font-family: cooper hewitt;
  font-size: 20px;
  font-weight: 500;
}

#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#buttonContainer {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}

button {
  width: 70px;
  height: 100%;
  border: none;
  margin-right: 0px;
  margin-left: 50px;
  border-radius: 15px;
}

#leButton:hover {
  box-shadow: 0px 0px 12px rgb(29, 161, 242);
}

#formText {
  font-family: cooper hewitt;
  font-size: 2rem;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
}

#bottomEmailAddress {
  font-family: cooper hewitt;
  font-size: 20px;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  font-weight: 500;
  color: #e4e7eb;
  padding-bottom: 15px;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  padding-left: 2%;
  margin-bottom: 0px;
  width: 90%;
}

@media (max-width: 599px) {
  form {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background: rgb(16, 42, 67);
    border-radius: 0px;
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
    box-shadow: 0px 0px 0px #111;
  }

  #buttonContainer {
    width: 90%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #formText {
    font-size: 1.5rem;
  }

  #reactImg {
    display: none;
  }

  #graphqlImg {
    display: none;
  }

  #bottomEmailAddress {
    padding-left: 3.5%;
    margin-bottom: 0px;
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  #graphqlImg {
    display: none;
  }

  #reactImg {
    display: none;
  }

  form {
    width: 600px;
    height: 475px;
    margin-top: -150px;
    background: rgba(16, 42, 67, 0.83);
    border-radius: 10px;
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2),
      0 15px 35px hsla(0, 0%, 0%, 0.4);
    position: relative;
    z-index: 2;
  }

  #formText {
    font-size: 1.5rem;
  }

  #buttonContainer {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 30px;
  }

  #bottomEmailAddress {
    padding-left: 2%;
    margin-bottom: 0px;
    width: 90%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  #buttonContainer {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  #bottomEmailAddress {
    padding-top: 20px;
  }
}
