@keyframes fade {
  from {
    background: #102a43;
  }
  to {
    box-shadow: 0px 0px 18px #1da1f2;
    background: rgba(29, 161, 242, 1);
  }
}

.linksDiv {
  width: 100px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px 75px;
}

#linksTwitterIcon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linksBucketIcon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
}

#linksTwitterIcon:hover {
  animation: fade 0.5s forwards;
}

#linksBucketIcon:hover {
  animation: fade 0.5s forwards;
}

@media (max-width: 599px) {
  .linksDiv {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
}
