#skillsDivParaContainer p {
  font-size: 16px;
  font-weight: 500;
  color: #e4e7eb;
  padding: 5px 0px;
}

#skillsWrapper {
  width: 100%;
  height: 600px;
  background: linear-gradient(to top, #102a43, #111);
}

#skillsDivParaContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 600px;
  text-align: left;
  font-family: cooper hewitt;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

#skillsExperience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
}

#skillsLearning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
}

#skillsOther {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
}

#skillsProject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
}

#skillsEducation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
}

#skillsProject a {
  text-decoration: none;
  color: #e4e7eb;
  padding-bottom: 1px;
  display: block;
  width: 300px;
  font-weight: 500;
}

#skillsProject span {
  padding-left: 5px;
}

.skillsHeading {
  color: rgb(29, 161, 242);
  padding-bottom: 15px;
}

@media (max-width: 599px) {
  #skillsWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #102a43, #111);
    position: relative;
    margin-top: 50px;
  }

  #skillsDivParaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: cooper hewitt;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  .skillsHeading {
    color: rgb(29, 161, 242);
    padding-bottom: 5px;
    padding-top: 35px;
  }

  #skillsProject a {
    text-decoration: none;
    color: #e4e7eb;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    width: 100%;
    font-weight: 500;
  }

  #skillsExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsLearning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsOther {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsProject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsEducation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  #skillsWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #102a43, #111);
    position: relative;
  }

  #skillsDivParaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: cooper hewitt;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  .skillsHeading {
    color: rgb(29, 161, 242);
    padding-bottom: 5px;
    padding-top: 35px;
  }

  #skillsProject a {
    text-decoration: none;
    color: #e4e7eb;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    width: 100%;
    font-weight: 500;
  }

  #skillsExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsLearning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsOther {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsProject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsEducation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 820px) and (orientation: landscape) {
  #skillsWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #102a43, #111);
    position: relative;
  }

  #skillsDivParaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: cooper hewitt;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  .skillsHeading {
    color: rgb(29, 161, 242);
    padding-bottom: 5px;
    padding-top: 35px;
  }

  #skillsProject a {
    text-decoration: none;
    color: #e4e7eb;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    width: 100%;
    font-weight: 500;
  }

  #skillsExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
    padding-top: 25px;
  }

  #skillsLearning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsOther {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsProject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsEducation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  #skillsWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #102a43, #111);
    position: relative;
  }

  #skillsDivParaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: cooper hewitt;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  .skillsHeading {
    color: rgb(29, 161, 242);
    padding-bottom: 5px;
    padding-top: 35px;
  }

  #skillsProject a {
    text-decoration: none;
    color: #e4e7eb;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    width: 100%;
    font-weight: 500;
  }

  #skillsExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsLearning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsOther {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsProject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsEducation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  #skillsWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #102a43, #111);
    position: relative;
  }

  #skillsDivParaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: cooper hewitt;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  .skillsHeading {
    color: rgb(29, 161, 242);
    padding-bottom: 5px;
    padding-top: 35px;
  }

  #skillsProject a {
    text-decoration: none;
    color: #e4e7eb;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    width: 100%;
    font-weight: 500;
  }

  #skillsExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsLearning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsOther {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsProject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }

  #skillsEducation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 35px;
  }
}
