.topDiv {
  background-color: #102a43;
  height: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#topGreeting {
  font-family: cooper hewitt;
  position: relative;
  z-index: 1;
  color: #e4e7eb;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  width: 50%;
  border-radius: 10px;
  height: 100%;
  margin-top: 25px;
  margin-right: 25px;
  background: rgb(16, 42, 67);
  padding-left: 25px;
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2), 0 15px 35px hsla(0, 0%, 0%, 0.4);
}

#topGreeting h1 {
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 20px;
}

#topGreeting p {
  font-size: 16px;
  padding: 0px 20px 20px 20px;
}

@media (max-width: 599px) {
  .topDiv {
    background-color: #102a43;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-right: 0px;
    margin-bottom: 0px;
  }

  #topGreeting {
    font-family: cooper hewitt;
    position: relative;
    z-index: 1;
    color: #e4e7eb;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: rgb(16, 42, 67);
    box-shadow: none;
    border-radius: 0px;
    padding-left: 0px;
  }

  #topGreeting h1 {
    font-size: 35px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-top: 1px solid rgb(29, 161, 242);
    margin-top: 0px;
    margin-left: 0px;
  }

  #topGreeting p {
    font-size: 14px;
    padding: 0px 20px 20px 10px;
    line-height: 1.5;
  }

  #topGreeting a {
    font-size: 16px;
    padding-bottom: 10px;
    color: rgb(29, 161, 242);
    font-family: cooper hewitt;
    text-decoration: none;
  }
}

@media (max-width: 820px) and (orientation: landscape) {
  #topGreeting {
    padding-bottom: 25px;
    height: 350px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  #topGreeting {
    font-family: cooper hewitt;
    position: relative;
    z-index: 1;
    color: #e4e7eb;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
    width: 75%;
    border-radius: 10px;
    height: 350px;
    margin-top: 25px;
    margin-right: 25px;
    background: rgb(16, 42, 67);
    padding-left: 25px;
    padding-bottom: 25px;
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2),
      0 15px 35px hsla(0, 0%, 0%, 0.4);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  #topGreeting {
    font-family: cooper hewitt;
    position: relative;
    z-index: 1;
    color: #e4e7eb;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
    width: 70%;
    border-radius: 10px;
    height: 100%;
    margin-top: 25px;
    margin-right: 25px;
    background: rgb(16, 42, 67);
    padding-left: 25px;
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2),
      0 15px 35px hsla(0, 0%, 0%, 0.4);
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  #topGreeting {
    font-family: cooper hewitt;
    position: relative;
    z-index: 1;
    color: #e4e7eb;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
    width: 60%;
    border-radius: 10px;
    height: 100%;
    margin-top: 25px;
    margin-right: 25px;
    background: rgb(16, 42, 67);
    padding-left: 25px;
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2),
      0 15px 35px hsla(0, 0%, 0%, 0.4);
  }
}
